PORT=3000
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
SECRET_KEY="app secret"

CLOUD_NAME="ddsfsamkmrcp"
API_KEY="414809340234257"
API_SECRET="r7t8UKf1jncxthcSfmv4oJpR7w4"